* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.container {
    display: flex;
    flex-flow: row wrap;
    row-gap: 30px;
    align-content: center;
}

.header {
    width: 100vw;
    height: 609px;
}


.header-img {
	width: 100%;
	height: 609px;
	background: #00000000;
}

.rectangle-9 {
	width: 88.5%;
	height: 609px;
	padding: 8px 8px 8px 8px;
	opacity: 74%;
	background-color: #232323;
    position: absolute;
    top: 0px;
    left: 73px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph-1 {
	width: 720px;
	height: 62px;
	color: #F2F2F2;
	font-family: "Playfair Display";
	font-weight: bold;
	font-size: 48px;
	line-height: 1.28;
	letter-spacing: -0.5px;
	text-align: left;
}

.paragraph-2 {
	width: 811px;
	height: 76px;
	color: #F2F2F2;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 30px;
	line-height: 1.44;
	text-align: left;
}


.heading2 {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    justify-content: center;
    padding: 30px;
}

.head2-para-1{
        width: 774px;
        height: 46px;
        color: #2C332C;
        font-family: "Playfair Display";
        font-weight: bold;
        font-size: 36px;
        line-height: 1.28;
        letter-spacing: -0.5px;
        text-align: center;
}

.head2-para-2 {
    width: 864px;
	height: 79px;
	opacity: 80%;
	color: #2C332C;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 24px;
	line-height: 1.42;
	text-align: center;
    margin-top: 25px;
}

.img-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: auto;
    justify-content: center;
}

.img1, .img2, .img3 {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.desc1, .desc2, .desc3 {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    margin: 0px auto 50px auto;
    padding: 25px;
    justify-content: center;
    align-content: center;
}

.rectangle-10 {
    width: 75%;
    padding: 8px 8px 8px 8px;
    margin-left: 100px;
}

.ingredients-title, .method-title {
    color: #2C332C;
	font-family: "Playfair Display";
	font-weight: bold;
	font-size: 36px;
	line-height: 1.28;
	letter-spacing: -0.5px;
	text-align: left;
}

.title-2, .title-3 {
    color:  #7A5929;
    font-weight: bold;
    font-family: "Playfair Display";
    text-transform: uppercase;
    font-size: 30px;
	line-height: 1.28;
	letter-spacing: -0.5px;
	text-align: left;
}

.ingredients-list {
	opacity: 80%;
	color: #2C332C;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 24px;
	line-height: 1.42;
	text-align: left;
}

ul li{
    list-style-type: disc;
    opacity: 80%;
	color: #2C332C;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 24px;
	line-height: 1.42;
	text-align: left;
}

.method-1, .method-2 {
    opacity: 80%;
	color: #2C332C;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 24px;
	line-height: 1.42;
	text-align: left;
}


.button {
    width: 175px;
	height: 77px;
	font-family: "Raleway";
	font-weight: bold;
	font-size: 18px;
	text-align: center;
    margin: 30px auto;
}

.btn-dark:hover {
    background-color: #509450;
    color: #F2F2F2;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 100vw;
    height: 200px;
    gap: 10px;
    padding: 50px;
    background-color:#509450;
    color: #F2F2F2;
    font-family: "Raleway";
}